include includes/layout.pug

.title-div
  .container
    h1 Chingu PP Admin Page
.user-div
  .container
    -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
    .media
      img#avatar.d-flex.mr-3(src=avatar width=100 height=100)
      .media-body
        h5#user-name.mt-0 #{user.slack.displayName}
        a(href='/')
          small User Page
        a(href='/logout') 
          small Logout

.info-div
  .container.text-center
    h3 Team
    p #{teamName}
    hr
  .container
    h3.text-center Users
    table#users-table.table.table-sm.table-hover
      thead
        tr
          th.text-center Display Name
          th.text-center Username
          th.text-center Timezone
          th.text-center FCC Score
      tbody
        each ppUser in userList
          -var displayName = ppUser.slack.displayName || "-"
          -var username = ppUser.slack.user_name || "-"
          -var timezone = ppUser.profile.timezone || "-"
          -var fccScore = ppUser.profile.fccScore || "-"
          tr
            td #{displayName}
            td #{username}
            td.text-center #{timezone}
            td.text-center #{fccScore}
  .container.text-center        
    h3.text-center Matches
    table#matches-table.table.table-sm.table-hover
      thead
        tr
          th.text-center Created
          th.text-center User1
          th.text-center User2
      tbody
        each match in matches
          -var first = match.users[0].slack.displayName || match.users[0].slack.user_name
          -var second = match.users[1].slack.displayName || match.users[1].slack.user_name
          tr
            td #{match.created}
            td #{first}
            td #{second}

include includes/scripts.pug
