include includes/layout.pug

.title-div
  h1 Chingu PP Admin Page
.user-div
  -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
  img#avatar(src=avatar width=125 height=125)
  p #{user.slack.displayName}
  small
    a(href='/logout') Logout
    a(href='/') User Page

hr

h3 Team
p #{teamName}

h3 Users
table#users-table
  tr
    th Display Name
    th Username
    th Timezone
    th FCC Score
  each ppUser in userList
    -var displayName = ppUser.slack.displayName || "-"
    -var username = ppUser.slack.user_name || "-"
    -var timezone = ppUser.profile.timezone || "-"
    -var fccScore = ppUser.profile.fccScore || "-"
    tr
      td #{displayName}
      td #{username}
      td #{timezone}
      td #{fccScore}
h3 Matches
table#matches-table
  tr
    th Created
    th User1
    th User2
  each match in matches
    tr
      td #{match.created}
      td #{match.users[0].slack.displayName}
      td #{match.users[1].slack.displayName}

script(src='javascripts/main.js')
