include includes/layout.pug

if(message)
  .message #{message}

.title-div
  h1 #{title}
.user-div
  -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
  img#avatar(src=avatar width=125 height=125)
  p #{user.slack.displayName}
  small
    a(href='/logout') Logout
    if(user.admin)
      a(href='/admin') Admin Page

if(user.matchedTo)
  p Already requested a match.
else
  a(href='/request-match')
    button Request Match

hr

if(user.pending.created)
  h3 Match Request
  p Last Updated: #{user.pending.created}
  p FCC Lvl: #{user.profile.fccLevel}
  p Timezone: #{user.profile.timezone}
  p Matched: Not yet Matched
  a(href='/request-match') Edit
  br
  a(href='/request-match/delete') Delete

if(matches)
  h3 Your Matches
  each match in matches
    -var matchID = match.slack.displayName
    p #{matchID}
else
  h3 No current matches
script(src='javascripts/main.js')
