include includes/layout.pug

.title-div 
  h1 #{title}
.user-div
  -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
  img#avatar(src=avatar width=125 height=125)
  p #{user.slack.displayName} 
    small
      a(href='/logout') Logout

if(user.pending.created)
  p Already requested a match. 
else
  a(href='/request-match')
    button Request Match

hr

if(user.pending.created)
  h3 Match Request
  p Last Updated: #{user.pending.created}
  p FCC Lvl: #{user.pending.level}
  p Timezone: #{user.pending.timezone}
  p Matched: Not yet Matched
  a(href='/request-match/delete') Delete
  br
  a(href='/request-match') Edit
else
  h3 No match requested yet
script(src='javascripts/main.js')
