include includes/layout.pug

header
  div #{title}
  div
    -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
    img(src=avatar width=125 length=125)
    div #{user.slack.displayName}

if message
  section
    p #{message}

section
  if user.pending.created
    h3 Welcome, #{user.slack.displayName}! You have 1 pair programming request pending.
    form(action="/cancel-request" method="post")
      button Cancel Request
  else
    h3 Welcome, #{user.slack.displayName}! Ready to start pair programming?
    div
      button(id="request-form-button") Request a Partner

div(id="request-form")
  form(action="/create-request" method="post")
    button Submit Form

script(src='/main.js')
