include includes/layout.pug

if(message)
  include includes/message.pug

.title-div
  .container
    .media
      img.d-flex.mr-3(src='images/chingu.png' height=50 alt='Chingu Logo')
      .media-body
        h1.mt-0 #{title}
.user-div
  .container
    -var avatar = (user.slack.image ? user.slack.image : 'images/avatar-placeholder.png')
    .media
      img#avatar.d-flex.mr-3(src=avatar width=100 height=100)
      .media-body
        h5#user-name.mt-0 #{user.slack.displayName}
        if(user.admin)
          a(href='/admin')
            small Admin Page
        a(href='/logout') 
          small Logout
    
.info-div
  if(user.pending.created)
    .container.text-center
      h3 Match Request
      table#match-table.table.table-sm.table-hover
        thead
          tr
            th.text-center Last Updated
            th.text-center FCC Lvl
            th.text-center Timezone
        tbody
          tr
            td #{user.pending.created}
            td #{user.profile.fccLevel}
            td.text-center #{user.profile.timezone}

      a(href='/request-match')
        small Edit
      a(href='/request-match/delete') 
        small Delete

  else
    .container.text-center.match-div
      a(href='/request-match')
        button.btn Request Match

  .container
    hr

  .container.text-center
    if(matches)
      h3 Your Matches
      each match in matches
        -var matchID = match.slack.displayName
        p #{matchID}
    else
      h3 No current matches
include includes/scripts.pug