include includes/layout.pug

include includes/message.pug

.title-div
  .container
    .media
      img.d-flex.mr-3(src='images/chingu.png' height=50 alt='Chingu Logo')
      .media-body
        span.right.hidden-sm-down
          a(href='/auth/slack')
            img(
              alt='Sign in with Slack'
              height='40'
              width='172'
              src='images/sign_in_with_slack.png'
              srcset='images/sign_in_with_slack.png 1x, images/sign_in_with_slack@2x.png 2x'
              )
        h1.mt-0
          span.no-wrap Chingu-PP
        h1.hidden-xs-down
          span.small Learning together with Pair Programming

.info-div.text-center
  .container
    h2#title Welcome to #{title}
    .row
      .col-lg-5.offset-lg-1
        p Pair programming is a great - and fun! way to build programming skills, but finding someone to program with can be tricky.
      .col-lg-5
        p Chingu-PP makes it easy for members of the Chingu cohorts to find a pair programming partner. Are you ready to jumpstart your pair-programming journey1
    h4 Sign in Now!
    a(href='/auth/slack')
      img(
        alt='Sign in with Slack'
        height='40'
        width='172'
        src='images/sign_in_with_slack.png'
        srcset='images/sign_in_with_slack.png 1x, images/sign_in_with_slack@2x.png 2x'
        )

  .container
    hr
  .container
    h4 To get additional features, add our app to your Slack team.
    p Chingu-PP Slack app will:
    .row
      .col-lg-5.offset-lg-1
        p Give you access to the <code>/pair-programming</code> slash command, allowing you to create, edit, and delete pair-programming partner requests inside of Slack.
      .col-lg-5
        p Install the chingu-pp bot, who will notify you when you are matched and will introduce you to your new pair-programming partner.
    h4 Install the App!
    include includes/install-slack.pug

.footer-div.text-center
  p
    small Chingu-PP is a Build-to-Learn project created by members of the Honey Badgers cohort.<br>Check out our project repository on <a href="https://github.com/sego90/chingu">Github</a>!

include includes/scripts.pug
